header {
	height: 70px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	a {
		margin-left: 63px;
		text-decoration: none;
	}
}

.root {
	width: 100%; 
	height: 500px;
	background: url('../img/office.jpg');
	background-size: cover;
	background-position: center;
}

.root__menu__top {
	width: 100%;
	height: 60px;
  	background: $menuColor;
  	list-style: none;
  	opacity: 0.8;
  	display: flex;
  	align-items: center;
  	flex-direction: row;
}

.root__menu__top li:first-child {
		margin-left: 60px;
}

.root__menu__top li {
    a {
    	margin-left: 20px;
		margin-right: 20px;
		text-decoration: none;
	}
}

.root__menu__top li:hover {
	display: flex;
	height: 100%;
	align-items: center;
	background: #7d9097;
	color: $hoverColorFont;
	text-decoration: none;
	a {
		color: $hoverColorFont;
	}
}

.slider__item {
	width: 100%;
	height: 440px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}

.item__welcome {
	margin-right: 40px;
}

.item__name {
	margin-right: 40px;
}

.root__item {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.line {
	margin-top: 10px;
	width: 400px;
	height: 2px;
	background: $fontColorOne;
}

.team__description {
	margin-top: 70px;
	margin-left: 250px;
	margin-right: 250px;
	text-align: center;
}

img {
	height: 400px;
	width: 340px;
}

.team__items-block {
	margin-top: 70px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	text-align: center;
	.team__item .item__title {
		margin-top: 35px;
	}
	.team__item .item__desc {
		margin-top: 35px;
		margin-left: 100px;
		margin-right: 100px;
	}
}

.root__counter {
	margin-top: 50px;
	height: 200px;
	width: 100%;
	background: #1f3239;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.container__image{
	width: 100%;
	height: 800px;
	background-image: url('../img/white.jpg');
	background-size: cover;
	background-position: center;
}

.registration__fields{
	width: 100%;
	height: 800px;
	background-color: #1f3239;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.registration__fields{
	p{
		width: 400px;
		margin-bottom: 40px;
		text-align: center;
	}

	h1{
		margin-top: 40px;
		margin-bottom: 40px;
	}

	button{
    	margin-left: 760px;
    	height: 40px;
    	width: 140px;
    	background-color: #c13009;
    	border: 2px solid #a2241a;
	}

}

.input__wrapper{
	width: 1000px;
	height: 150px;
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
}


.input__wrapper input{
	width: 400px;
	height: 40px;
	background-color: #1f3239;
	border: none;
	border-bottom: 1px solid #ffffff;
	opacity: 0.5;
}

.email__wrapper{
	width: 900px;
	height: 400px;
}

.email__wrapper input{
	width: 900px;
	height: 40px;
	background-color: #1f3239;
	border: none;
	border-bottom: 1px solid #ffffff;
	opacity: 0.5;
}

#message{
	height: 250px;
}

input:focus{
	outline:none;
}

.container__about{
	width: 100%;
	height: 800px;
	background-image: url('../img/white.jpg');
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.about__img{
	width: 750px;
	height: 450px;
	background-color: grey;
}

.about__info{
	width: 650px;
	height: 350px;
	background-color: #e6e6e6;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about__info {
	img{
		width: 70px;
		height: 70px;
		margin-left: 30px;
	}

	h1{
		margin-top: 40px;
		margin-bottom: 20px; 
	}
}

.wrapper__info{
	margin-top: 40px;
	width: 90%;
	display: flex;
	justify-content: space-around;

	div{
		width: 100px;
		height: 100px;
		text-align: center;
	}

	button{
		margin-top: 10px;
    	height: 40px;
    	width: 130px;
    	background: #e6e6e6;
    	border: 3px solid black;
	}
}

.about__info p{
	width: 80%;
	text-align: center;
}

hr{
	margin-top: -60px;
	margin-left: 63px;
	height: 100px;
	width: 0px;
	border: 2px solid black;
	margin-bottom: -20px;
}

.container__galerry{
	width: 100%;
	height: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	h1{
		margin-top: 100px;
	}
	
	p{
		text-align: center;
    	width: 1200px;
    	height: 50px;
	}
}

.gallery__slider{
	margin-top: 50px;
	width: 100%;
	height: 400px;
	border: 1px solid black;
}

.button__click{
    margin-bottom: 20px;
    border: 3px solid $fontColorOne;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    color: $fontColorOne;
    font-size: 30px;
    background-color: white;

}

#slick-next{
    	margin-left: 1350px;
}


.top__footer{
	width: 100%;
	height: 200px;
	background-color: #1f3239;
	display: flex;
	justify-content: space-around;
	div{
		margin-top: 10px;
		color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 150px;
		height: 100px;
	}

	img{
			width: 30px;
			height: 30px;
		}

	.location{
		display: flex;
		flex-direction: row;
	}

	.telephone{
		display: flex;
		flex-direction: row;
	}
}

.bottom__footer{
	width: 100%;
	height: 50px;
	background-color: black;
	display: flex;
	justify-content: space-between;
	p{
		color: #ffffff;
	}

}

.copyright__social{
	width: 250px;
	 display: flex;
	 justify-content: space-between;

	 img{
	 	border: 1px solid white;
	 	border-radius: 5px;
	 	background-color: white;
	 	height: 50px;
	 	width: 50px;
	 }
}
